CONFIG_TCC_MEM_1024MB=y
CONFIG_DDR3_H5TQ4G83AFR_PBC=y
CONFIG_USB_ACM=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_PIO_LGIT_MODEM=y
# CMMB
CONFIG_CMMB_EARLY_RESET=y
# Virtual UART
CONFIG_DUP_UART=y
