CONFIG_TCC_MEM_2048MB=y
CONFIG_DDR3_MT41K512M8=y
CONFIG_USB_LGIT_GOBIUSBNET=y
CONFIG_USB_ACM=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_KT_LGIT_MODEM=y
# Virtual Driver
CONFIG_DUP_UART=y
# DMB
CONFIG_DVB_CORE=y
